<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Sentiment</title>
    {% load static %}

    <link href="{% static 'background.css' %}" rel="stylesheet">

</head>
<body>



<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
<h1>Movie Review Sentiment Analysis using Reddit</h1>
<br>
<br>
    <img class="reddit" src="{% static 'Reddit.png' %}"/>
<br>
<br>
<form action="/results" method = "post" >

    {% csrf_token %}
    <table class="center">
    {{ form }}
    </table>
    <br>
    <div class="button">
    <input type="submit" value=Submit style="height:25px; width:100px" >
    </div>
</form>
<pre>{{ Results }}</pre>
</div>



</body>

</html>